APP_VERSION_CODE=1
APP_VERSION_NAME=1.0.0

DEMO_LOCAL_API_SCHEME=http
DEMO_LOCAL_API_HOST=10.0.2.2
DEMO_LOCAL_API_PORT=8080
DEMO_LOCAL_WS_SCHEME=ws
DEMO_LOCAL_WS_HOST=10.0.2.2
DEMO_LOCAL_WS_PORT=8080

RELEASE_API_SCHEME=https
RELEASE_API_HOST=example.com
RELEASE_API_PORT=
RELEASE_WS_SCHEME=wss
RELEASE_WS_HOST=example.com
RELEASE_WS_PORT=
